<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="f1" xsi:type="File" encoding="utf-8"
            fileName="${basedir}/logs/${shortdate}.log"
            layout = "[${level} - ${date:format=yyyy-MM-dd HH\:mm\:ss}] ${message}" />
  </targets>

  <rules>
    <logger name="*" writeTo="f1" />
  </rules>

</nlog>